# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text
*.json text

# Source code
*.js text
*.jsx text
*.css text
*.html text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary
